#{extends 'main.html' /}
#{set title:'Leaderboard' /}

<nav class="ui menu"> 
  <a class="ui item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>
  <a class="ui blue active item" href="/leaderboard">Leaderboard</a>   
  <a class="ui item" href="/login">Logout</a>      
</nav>

<section class="ui segment">
  <h2 class="ui header">Social Leaderboard</h2>
	<div class="ui ordered list">
	  #{list items:users, as:'user'}
		<div class="item"> 
		  <div class="content">
		    ${user.firstName} ${user.lastName} (inbox: ${user.inbox.size()},
		     outbox: ${user.outbox.size()}, friends: ${user.friendships.size()})    
		  </div>
		</div> 
	  #{/list}
    </div>
	<div>
	  <a href="/leaderboard"><button class="ui blue button">Most Social</button></a>
	  <a href="/leaderboard/talkative"><button class="ui button">Most Talkative</button></a>
	</div>
</section>