#{extends 'main.html' /}
#{set title:'Spacebook' /}

<nav class="ui menu"> 
  <a class="ui blue active item" href="/home">Back to Home</a>      
</nav>

<section class="ui raised segment">
  <div class="ui small header"> ${user.firstName} ${user.lastName}'s Profile</div>
  <p>Nationality: ${user.nationality}</p>
  <section class="ui  two column grid segment">
    <div class="row">
      <div class="column">
        <div class="ui medium image">
          <img src="/profile/getpicture/${user.id}"> 
        </div>
        <form action="/publicprofile/sendmessage/${user.id}" class="ui form" method="post">
          <div class="field">
            <input type="text" name="messageSubject" placeholder="Subject">
          </div>
          <div class="field">
            <textarea name="messageText" placeholder="Your message here"></textarea>
          </div>
          <button  class="ui fluid blue labeled submit icon button">
            <i class="icon edit"></i> Send
          </button>
        </form>
        <p>${user.statusText}</p>  
      </div>
      <div class="column">
       <div class="ui small header">Messages</div>
        <hr>
        <ul>
          #{list items:user.inbox, as:'message'}
            <li> 
              Message from ${message.from.firstName} 
              <br>Subject: ${message.messageSubject}
              <br>${message.messageText}
            </li>
          #{/list}
        </ul>  
      </div>
    </div>
  </section>    
</section>