#{extends 'main.html' /}
#{set title:'Home' /}

<nav class="ui menu"> 
  <a class="ui blue active item" href="/home">Home</a>      
  <a class="ui item" href="/members">Members</a>   
  <a class="ui item" href="/profile">Profile</a>
  <a class="ui item" href="/leaderboard">Leaderboard</a>   
  <a class="ui item" href="/login">Logout</a>      
</nav>

<section class="ui segment">
  <h2 class="ui header">SpaceBook: Home Page for ${user.firstName} ${user.lastName} </h2>
  <div class="ui two column grid segment">
    <div class="ui row">
      <div class="ui column">
        <h2>Friends (${user.friendships.size()})</h2>
        <div class="ui list">
          #{list items:user.friendships, as:'friendship'}
            <div class="item">
              <i class="right triangle icon"></i>
              <div class="content">
                <a href="/publicprofile/${friendship.targetUser.id}" class="ui avatar image">
              	<img src="/profile/getpicture/${friendship.targetUser.id}">
              	</a>
                <a href="/publicprofile/${friendship.targetUser.id}"> ${friendship.targetUser.firstName} ${friendship.targetUser.lastName}</a>
                (<a href="/home/drop/${friendship.targetUser.id}"> drop </a>)
              </div>
            </div>
          #{/list}
        </div>
      </div>
      <div class="ui column">
        <h2>Messages</h2>
          <table class="ui blue celled table">
            <thead>
              <tr>
                <th>Sender</th>
                <th>Message Text</th>
              </tr>
            </thead>
            <tbody> 
	          #{list items:conversationList, as:'conversation'}
	            #{list items:conversation, as:'message'}
	              <tr>
	                <td>
	                  <a href="/publicprofile/${message.from.id}" class="ui avatar image">
	                  <img src="/profile/getpicture/${message.from.id}">
	                  </a>
	                  <a href="/publicprofile/${message.from.id}">${message.from.firstName}</a>
	                </td>
	                <td>${message.messageText}</td>
	              </tr>
	            #{/list}
	          #{/list}
	        </tbody>         
          </table> 
        <div>
 		  <a href="/home/bydate"><button class="ui button">By Date</button></a>
 		  <a href="/home/byuser"><button class="ui button">By User</button></a>
  		  <a href="/home/byconversation"><button class="ui blue button">By Conversation</button></a>
		</div>
      </div>
    </div>
  </div>
</section>