#{extends 'main.html' /}
#{set title:'Spacebook' /}

<nav class="ui menu"> 
  <a class="ui blue active item" href="/profile">Back to Profile</a>      
</nav>

<section class="ui segment">
  <p> Edit your profile information here ... </p>
</section>
<section class="ui form segment">
  <form action="/edit/changeprofile" method="POST">
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <input type="text" name="firstName" value="${user.firstName}">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" name="lastName" value="${user.lastName}">
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Age</label>
        <input type="text" name="age" value="${user.age}">
      </div>
      <div class="field">
        <label>Nationality</label>
        <input type="text" name="nationality" value="${user.nationality}">
      </div>
    </div> 
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" value="${user.email}">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" value="${user.password}">
    </div>
    <button class="ui blue submit button">Submit</button>
  </form>
</section> 