#{extends 'main.html' /}
#{set title:'Login to Spacebook' /}

<nav class="ui menu">
  <a class="ui item" href="/signup"> Signup  </a>
  <a class="ui blue active item" href="/login"> Login  </a>
</nav> 

<section class="ui segment">
  <p> Log in here ... </p>
</section>
<section class="ui form segment">
  <form action="/authenticate" method="POST">
    <div class="field">
      <label> Username: </label>
      <input type="text" name="email">
    </div>  
    <div class="field">
      <label>  Password: </label>
      <input type="password" name="password">
    </div>
    <button class="ui blue submit button">Login</button>
  </form>
</section>